
pindar_origins/Config/DefaultEditor.ini
pindar_origins/Config/DefaultEngine.ini
pindar_origins/Intermediate/ReimportCache/3688439234.bin
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/XCodeSourceCodeAccess.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/WmfMedia.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/WindowsMoviePlayer.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/VisualStudioSourceCodeAccess.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/VisualStudioCodeSourceCodeAccess.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/UObjectPlugin.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/UdpMessaging.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/TemplateDefs.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/TcpMessaging.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/SubversionSourceControl.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/SteamVR.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/SpeedTreeImporter.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Scalability.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/RuntimePhysXCooking.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/ProceduralMeshComponent.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/PluginBrowser.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/PhysXVehicles.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/PerforceSourceControl.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Paper2D.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemUtils.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemNull.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemIOS.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemGooglePlay.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystem.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/OculusVR.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/NUTUnrealEngine4.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/NullSourceCodeAccess.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/NetcodeUnitTest.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/MobilePatchingUtils.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/MobileLauncherProfileWizard.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/MediaPlayerEditor.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/MediaCompositing.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/MatineeToLevelSequence.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/LocationServicesBPLibrary.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/LiveLink.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/LinuxDeviceProfileSelector.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/LinearTimecode.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/LightPropagationVolume.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/LevelSequenceEditor.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/KDevelopSourceCodeAccess.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/IOSDeviceProfileSelector.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Input.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/ImmediatePhysics.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/ImgMedia.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/HTML5Networking.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Hardware.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/GoogleCloudMessaging.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/GitSourceControl.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/GameplayTagsList.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/GameplayTagsEditor.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/GameplayTags.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Game.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/FacialAnimation.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/ExampleDeviceProfileSelector.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/EditorSettings.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/EditorLayout.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/EditorKeyBindings.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Editor.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/DeviceProfiles.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/DataValidation.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/DatasmithContent.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/CustomMeshComponent.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/CryptoKeys.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/Compat.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/CodeLiteSourceCodeAccess.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/CLionSourceCodeAccess.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/CharacterAI.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/CableComponent.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AvfMedia.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AudioCapture.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AssetManagerEditor.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/ArchVisCharacter.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AppleMoviePlayer.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AppleARKit.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AndroidPermission.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AndroidMoviePlayer.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AndroidMedia.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AndroidDeviceProfileSelector.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/AlembicImporter.ini
pindar_origins/Intermediate/Config/CoalescedSourceConfigs/ActorSequence.ini
pindar_origins/Intermediate/CachedAssetRegistry.bin
pindar_origins/Intermediate/AssetRegistryCache/f0d5030c.bin
pindar_origins/Intermediate/AssetRegistryCache/cef2e191.bin
pindar_origins/Intermediate/AssetRegistryCache/c9e91a3f.bin
pindar_origins/Intermediate/AssetRegistryCache/bf121eca.bin
pindar_origins/Intermediate/AssetRegistryCache/995fc7f5.bin
pindar_origins/Intermediate/AssetRegistryCache/94c5d5a7.bin
pindar_origins/Intermediate/AssetRegistryCache/8c0e1344.bin
pindar_origins/Intermediate/AssetRegistryCache/866581fd.bin
pindar_origins/Intermediate/AssetRegistryCache/5a627529.bin
pindar_origins/Intermediate/AssetRegistryCache/52ed2538.bin
pindar_origins/Intermediate/AssetRegistryCache/50d6f4e0.bin
pindar_origins/Intermediate/AssetRegistryCache/50a675f9.bin
pindar_origins/Intermediate/AssetRegistryCache/44c3f9c9.bin
pindar_origins/Intermediate/AssetRegistryCache/2f5244c7.bin
pindar_origins/Intermediate/AssetRegistryCache/29c3675e.bin
pindar_origins/Intermediate/AssetRegistryCache/2657c409.bin
pindar_origins/Intermediate/AssetRegistryCache/1f683343.bin
pindar_origins/Intermediate/AssetRegistryCache/1d5167fa.bin
pindar_origins/Config/DefaultGame.ini
pindar_origins/Saved/Config/CrashReportClient/UE4CC-Windows-AD7E8B4F466D93DE131E3097447B80D0/CrashReportClient.ini
pindar_origins/Saved/Config/Windows/Compat.ini
pindar_origins/Saved/Config/Windows/DeviceProfiles.ini
pindar_origins/Saved/Config/Windows/Editor.ini
pindar_origins/Saved/Config/Windows/EditorPerProjectUserSettings.ini
pindar_origins/Saved/Config/Windows/Engine.ini
pindar_origins/Saved/Config/Windows/Game.ini
pindar_origins/Saved/Config/Windows/GameUserSettings.ini
pindar_origins/Saved/Config/Windows/Hardware.ini
pindar_origins/Saved/Config/Windows/Input.ini
pindar_origins/Saved/Config/Windows/Lightmass.ini
pindar_origins/Saved/Config/Windows/OculusVR.ini
pindar_origins/Saved/Config/Windows/Paper2D.ini
pindar_origins/Saved/Config/Windows/PhysXVehicles.ini
pindar_origins/Saved/Config/Windows/Scalability.ini
pindar_origins/Saved/Logs/pindar_origins.log
pindar_origins/Saved/Config/CrashReportClient/UE4CC-Windows-66E2284B49A3C57DC4A977BAEBC4157D/CrashReportClient.ini
pindar_origins/Saved/Autosaves/PackageRestoreData.json
pindar_origins/Saved/Backup/TestLevel_2018-08-15-21-27-03.umap
pindar_origins/Saved/Config/WorldState/4146975853.json
pindar_origins/Saved/Autosaves/Game/Levels/POCT_TutorialArena_Auto1.umap
pindar_origins/Saved/Autosaves/Game/Levels/POCT_TutorialArena_Auto2.umap
pindar_origins/Saved/Autosaves/Game/Levels/POCT_TutorialArena_Auto4.umap
pindar_origins/Saved/Autosaves/Game/Levels/POCT_TutorialArena_Auto5.umap
pindar_origins/Saved/Autosaves/Game/Levels/POCT_TutorialArena_Auto6.umap
pindar_origins/Saved/Autosaves/Game/Levels/POCT_TutorialArena_Auto7.umap
pindar_origins/Saved/Autosaves/Game/Levels/POCT_TutorialArena_sharedassets/Dirt_LayerInfo_Auto6.uasset
pindar_origins/Saved/Autosaves/Game/Levels/POCT_TutorialArena_sharedassets/Grass_LayerInfo_Auto6.uasset
pindar_origins/Saved/Autosaves/Game/Levels/POCT_TutorialArena_sharedassets/Stone_LayerInfo_Auto6.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Bush_Leaves_Auto3.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Landscape_Auto5.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Textures/Bush_Tropical_Atlas_Auto1.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Textures/forest-floor-terrain_0030_01_S_enl_Auto2.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Textures/grass-and-straw-terrain_0057_02_S_enl_Auto2.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Textures/Terrain/TexturesCom_Rock_CliffGranite2_512_albedo_Auto3.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Textures/Terrain/TexturesCom_Rock_CliffGranite2_512_normal_Auto3.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Textures/TexturesCom_BarkPalm0013_S_Auto1.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Textures/TexturesCom_BarkPalm0018_1_seamless_S_Auto1.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Textures/Tree_Tropical_Cluster_02_Atlas_Auto1.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Textures/Tree_Tropical_Cluster_Atlas_Auto1.uasset
pindar_origins/Saved/Autosaves/Game/Materials/Tree_Leaves_Auto2.uasset
pindar_origins/Saved/Autosaves/Game/Meshs/Proxies/DR2_Human_Scale_Auto4.uasset
pindar_origins/Saved/Autosaves/Game/Meshs/Proxies/Trees/Tree_Tropical_Cluster_02_Auto3.uasset
pindar_origins/Saved/AutoScreenshot.png
pindar_origins/Saved/Backup/Bush_Bark_2018-10-01-17-13-33.uasset
pindar_origins/Saved/Backup/Bush_Leaves_2018-10-01-17-12-52.uasset
pindar_origins/Saved/Backup/Bush_Leaves_2018-10-07-01-02-38.uasset
pindar_origins/Saved/Backup/Bush_Tropical_2018-10-01-17-14-27.uasset
pindar_origins/Saved/Backup/Landscape_2018-09-29-15-12-22.uasset
pindar_origins/Saved/Backup/Landscape_2018-09-29-15-21-53.uasset
pindar_origins/Saved/Backup/Landscape_2018-09-29-15-38-38.uasset
pindar_origins/Saved/Backup/Landscape_2018-09-29-16-33-08.uasset
pindar_origins/Saved/Backup/Landscape_2018-09-29-16-45-13.uasset
pindar_origins/Saved/Backup/Landscape_2018-09-29-16-55-40.uasset
pindar_origins/Saved/Backup/Landscape_2018-10-01-13-59-06.uasset
pindar_origins/Saved/Backup/Landscape_2018-10-01-14-07-21.uasset
pindar_origins/Saved/Backup/Landscape_2018-10-01-14-12-57.uasset
pindar_origins/Saved/Backup/Landscape_2018-10-01-17-45-10.uasset
pindar_origins/Saved/Backup/Landscape_2018-10-01-17-50-31.uasset
pindar_origins/Saved/Backup/POCT_TutorialArena_02_2018-10-01-18-22-24.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-09-29-12-34-30.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-09-29-12-50-05.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-09-29-13-52-19.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-09-29-15-10-13.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-09-29-16-01-47.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-09-29-16-26-01.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-09-29-16-55-16.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-09-29-17-05-14.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-09-30-10-29-23.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-01-13-51-47.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-01-14-01-58.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-01-17-22-03.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-01-17-28-54.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-01-17-45-47.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-01-17-53-53.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-01-18-02-17.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-07-00-27-02.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-07-00-46-21.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-07-00-52-33.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-07-01-01-58.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-07-01-13-51.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-07-09-09-28.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-07-09-35-50.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-07-09-45-49.umap
pindar_origins/Saved/Backup/POCT_TutorialArena_2018-10-07-10-25-06.umap
pindar_origins/Saved/Backup/Tree_Leaves_2018-10-01-17-09-42.uasset
pindar_origins/Saved/Backup/Tree_Leaves_2018-10-07-01-01-52.uasset
pindar_origins/Saved/Backup/Tree_Tropical_Cluster_02_2018-10-01-14-22-05.uasset
pindar_origins/Saved/Backup/Tree_Tropical_Cluster_02_2018-10-01-17-12-03.uasset
pindar_origins/Saved/Backup/Tree_Tropical_Cluster_02_2018-10-01-17-24-54.uasset
pindar_origins/Saved/Backup/Tree_Tropical_Cluster_2018-10-01-17-14-23.uasset
pindar_origins/Saved/Config/CrashReportClient/UE4CC-Windows-1F89D072452109D9849423B50749AB54/CrashReportClient.ini
pindar_origins/Saved/Config/CrashReportClient/UE4CC-Windows-375D4FE84523CB9061D1338D24F0C2EB/CrashReportClient.ini
pindar_origins/Saved/Config/CrashReportClient/UE4CC-Windows-8F2079884E97E3A72B36CFA063BA9797/CrashReportClient.ini
pindar_origins/Saved/Config/LevelState/3631977920.json
pindar_origins/Saved/Config/WorldState/3631977920.json
pindar_origins/Saved/Crashes/UE4CC-Windows-2142F9A1459DB780208BD58B41BB0092_0000/CrashContext.runtime-xml
pindar_origins/Saved/Crashes/UE4CC-Windows-2142F9A1459DB780208BD58B41BB0092_0000/CrashReportClient.ini
pindar_origins/Saved/Crashes/UE4CC-Windows-2142F9A1459DB780208BD58B41BB0092_0000/pindar_origins.log
pindar_origins/Saved/Crashes/UE4CC-Windows-2142F9A1459DB780208BD58B41BB0092_0000/UE4Minidump.dmp
pindar_origins/Saved/Logs/pindar_origins-backup-2018.10.06-23.56.34.log
pindar_origins/Saved/Logs/pindar_origins-backup-2018.10.07-08.56.15.log
pindar_origins/Saved/Logs/pindar_origins_2.log
pindar_origins/Saved/Config/CrashReportClient/UE4CC-Windows-9A1E225549396D139E899983F9164D47/CrashReportClient.ini
pindar_origins/Saved/Config/CrashReportClient/UE4CC-Windows-E847E6EE4167F31870AC92ACE5E022AF/CrashReportClient.ini
pindar_origins/Saved/Logs/pindar_origins-backup-2018.11.09-23.13.01.log
pindar_origins/Saved/Logs/pindar_origins-backup-2018.11.10-00.28.25.log
pindar_origins/Saved/Config/CrashReportClient/UE4CC-Windows-B94802AA4D98F97EA290579C9E73B3A8/CrashReportClient.ini
pindar_origins/Saved/Logs/pindar_origins-backup-2018.11.28-22.08.15.log
pindar_origins/Saved/Config/WorldState/112858600.json
